body {
    width: 360px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
* {
    font-family: RobotoDraft, Roboto, Helvetica, sans-serif;
}

/* Account Setting and Logout bar */
.accountnavbar {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #fefefe 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(0%,#fefefe), color-stop(100%,#cccccc));
  background: -webkit-linear-gradient(top, #fefefe 0%,#fefefe 0%,#cccccc 100%);
  background: -o-linear-gradient(top, #fefefe 0%,#fefefe 0%,#cccccc 100%);
  background: -ms-linear-gradient(top, #fefefe 0%,#fefefe 0%,#cccccc 100%);
  background: linear-gradient(to bottom, #fefefe 0%,#fefefe 0%,#cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cccccc',GradientType=0 );
  padding-bottom:5px;
  padding-top:2px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  
}