<div class="container">
   <div class="header">
      <!-- NavBar -->
      <div class="navbar navbar-default navbar-fixed-top">
         <div class="accountnavbar">
            <div class="container">
               <!-- bsmooth -> username -->
               <div class="hellotextstyle">
                  Hello <b>Keann Reeves</b> from
                  <!-- Simple dropdown -->
                  <span class="dropdown" dropdown on-toggle="toggled(open)">
                     <a href class="dropdown-toggle" dropdown-toggle>
                     New York
                     </a>
                     <ul class="dropdown-menu text-nowrap">
                        <ptm-spinner show="locationsLoaded">
                           <li ng-repeat="loc in locations | filter: {active: true}" class="locationDropdownli">
                              <a>Albany</a>
                           </li>
                        </ptm-spinner>
                     </ul>
                  </span>
               </div>
               <div class="accounttextstyle">
                  <a href><i class="fa fa-gear"></i> Account Settings</a> | <a><i class="fa fa-question-circle">
                  </i> About/Help</a> | <a><i class="fa fa-sign-out"></i> Logout</a>
               </div>
            </div>
         </div>
         <div class="colorbar"></div>
         <div class="colorbarGrad"></div>
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand"><img src="app/images/PressSiteLogo276x155.png" style="margin-top:-20px; width:195px; height:54px;"></a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
               <ul class="nav navbar-nav navbar-right" style="font-size:15px;">
                  <!-- NAV MENU START -->
                  <li class="dropdown">
                    <a [routerLink]="routes.dashboard.link" class="router-link"><i class="fa fa-home fa-fw"></i>Home</a>
                  </li>
                  <li><a [routerLink]="routes.heroes.link" class="router-link"><i class="fa fa-group fa-fw"></i> Heroes</a></li>
                  <li class="dropdown">
                     <a href="" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" >Reimbursements
                         <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a><i class="fa fa-male fa-fw"></i> PTAR Realtime Entry</a></li>
                        <li><a><i class="fa fa-group fa-fw"></i> PTAR Batch Entry</a></li>
                        <li><a><i class="fa fa-list-alt fa-fw"></i> PTAR Spreadsheet Upload</a></li>
                        <li class="divider"></li>
                        <li><a><i class="fa fa-group fa-fw"></i> MMTP Batch Entry</a></li>
                        <li><a><i class="fa fa-list-alt fa-fw"></i> MMTP Spreadsheet Upload</a></li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Services<b class="caret">
                     </b></a>
                     <ul class="dropdown-menu">
                        <li><a><i class="fa fa-edit fa-fw"></i> Manage Provider Information</a></li>
                        <li><a><i class="fa fa-user-md fa-fw"></i> Invoice Managed Care Plans</a></li>
                        <li class="divider"></li>
                        <li><a><i class="fa fa-ioxhost fa-fw"></i> Transaction History</a></li>
                        <li><a><i class="fa fa-money fa-fw"></i> Payment History</a></li>
                        <li class="divider"></li>
                        <li><a><i class="fa fa-cogs fa-fw"></i> User Management</a></li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">Reporting<b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a><i class="fa fa-tasks fa-fw"></i> Client Activity Report</a></li>
                        <li><a><i class="fa fa-th-list fa-fw"></i> Provider Report</a></li>
                     </ul>
                  </li>
               </ul>
               <!-- NAV MENU END -->
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container well">
    <router-outlet></router-outlet>
</div>
<div class="greyfooter">
   <footer class="container text-muted" style="padding:5px;">
      <a href="http://www.health.ny.gov/" target="_blank">
         <img src="app/images/doh_logo_sm.png" style="width:139px; height:36px; padding-right:10px;">
         &copy; 2016 State of New York DOH.
      </a>
      All Rights Reserved. <a href="http://www.health.state.ny.us/nysdoh/privacy.htm" target="_blank">Privacy Policy</a>
   </footer>
</div>
